.Header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(250, 253, 46);
    margin-bottom: 20px;
}

.Header h1 {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.Header .Cart {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    margin-right: 20px;
    list-style: none;
    font-size: 30px;
    text-decoration: none;
}

hr {
    margin-bottom: 30px;
}

.Category {
    display: flex;
    justify-content: center;
}
